
:root{
    --title-text-color:#212121;  
    --paragraph-text-color:#757575;
    --hover-color:#2196F3;
    --background-hero-color:#FFFFFF;
    --background-color:#2F303A;
    --fontsize-text: 14px;
    
    }
    
body{
    
    font-family: Roboto, sans-serif;  
    }
    .text{
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    text-transform: uppercase;
    margin: 0 auto;
    margin-bottom: 30px;
}


.container{
    width: 1230px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    }
    



.character {
        width: 100px; /* Ширина персонажа */
        height: 100px; /* Висота персонажа */
        pointer-events: none; /* Персонаж не перешкоджає клікам */
        position: absolute; 
        display: none;
    }